<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>LangLearner</title>
</head>
<body>
    <header class="header">
        <h1>LangLearner Project</h1>
        <nav class="navigation">
            <ul class="navigation__list">
                <li class="navigation__list-item"><a href="/">Add a word</a></li>
                <li class="navigation__list-item"><a href="/words">Your words</a></li>
            </ul>
        </nav>
    </header>
    <main class="main">
        <div class="form-container">
            <div class="form-title">
                <h2>Edit the word</h2>
            </div>
            <form action="/update-word/<%= wordId %>" method="post" class="form">
                <div class="form-element">
                    <div class="form-element__label">
                        <label for="word">Word:</label>
                    </div>
                    <div class="form-element__input">
                        <input
                            class="text-input"
                            type="text"
                            id="word"
                            name="word"
                            value="<%= word ? word : '' %>"
                        />
                    </div>
                </div>
                <div class="form-element">
                    <div class="form-element__label">
                        <label for="word">Translation:</label>
                    </div>
                    <div class="form-element__input">
                        <input
                            class="text-input"
                            type="text"
                            id="translation"
                            name="translation"
                            value="<%= translation ? translation : '' %>"
                        />
                    </div>
                </div>
                <div class="radio-group">
                    <div class="radio-group__label">
                        <label>Article:</label>
                    </div>
                    <div class="radio-group__container">
                        <div class="radio-group__button">
                            <input
                                type="radio"
                                name="article"
                                id="der"
                                value="der"
                                <%= article && article === "der" ? "checked" : ""  %>
                            />
                            <label for="der">Der</label>
                        </div>
                        <div class="radio-group__button">
                            <input
                                type="radio"
                                name="article"
                                id="die"
                                value="die"
                                <%= article && article === "die" ? "checked" : ""  %>
                            />
                            <label for="die">Die</label>
                        </div>
                        <div class="radio-group__button">
                            <input
                                type="radio"
                                name="article"
                                id="das"
                                value="das"
                                <%= article && article === "das" ? "checked" : ""  %>
                            />
                            <label for="das">Das</label>
                        </div>
                    </div>
                </div>
                <div class="select_container">
                    <div class="select_container__label">
                        <label for="partOfSpeech">Part of speech:</label>
                    </div>
                    <div class="select_container__input">
                        <select name="partOfSpeech" id="partOfSpeech">
                            <option
                                value="noun"
                                <%= partOfSpeech && partOfSpeech === "noun" ? "selected" : ""  %>
                            >
                                Noun
                            </option>
                            <option
                                value="verb"
                                <%= partOfSpeech && partOfSpeech === "verb" ? "selected" : ""  %>
                            >
                                Verb
                            </option>
                            <option
                                value="adjective"
                                <%= partOfSpeech && partOfSpeech === "adjective" ? "selected" : ""  %>
                            >
                                Adjective
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-element">
                    <div class="form-element__label">
                        <label for="sentence">Example sentence:</label>
                    </div>
                    <div class="form-element__input">
                        <input
                            class="text-input"
                            type="text"
                            id="sentence"
                            name="sentence"
                            value="<%= sentence ? sentence : '' %>"
                        />
                    </div>
                </div>
                <button class="submit-button" type="submit">Apply changes</button>
            </form>
        </div>
    </main>
</body>
</html>
